<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-cookies.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/controllers/simulador_controller.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>    
    </head>
    <title>SimuladorMM1</title>
    <body ng-controller="SimuladorController">
        <div class="topnav">
            <a class="active" href="main">Simulador de Filas M/M/1</a>
            <a href="animacao">Simulação em tempo discreto</a>
            <a href="transiente">Determinação da fase transiente</a>
        </div>
        <div>
            <p id="res"><span id="min">0</span> : <span id="sec">00</span> : <span id="msec">000</span></p>
            <div>
                <div class="opcoes" style="width: 20%; height: 50px;padding-top: 8px;">
                    <label for="disc">Disciplina:</label>
                    <select id="disc" ng-model="disciplina">
                        <option value='FCFS'>FCFS</option>
                        <option value='LCFS'>LCFS</option>
                    </select>
                </div>
                <div class="opcoes" style="width: 20%; height: 190px;padding-top: 8px;">
                    <h3>Tempo de serviço: 5s</h3>
                    <h3> Tempo ocioso: 5s</h3>
                    <h3> Momentos de chegada: [0, 5, 8, 15, 17, 18]</h3>
                </div>
                <h1><a href class="btn btn-lg btn btn_deterministic" ng-click="startanimation()">Start</a></h1>
                <table style="left: 500px;top: 100px;">
                    <tr>
                        <td>E[W]</td>
                        <td>{% verbatim %} {{ respDeterministico['e_w'] }} {% endverbatim %}</td>
                    </tr>
                    <tr>
                        <td>V(W)</td>
                        <td>{% verbatim %} {{ respDeterministico['v_w'] }} {% endverbatim %}</td>
                    </tr>
                    <tr>
                        <td>E[Nq]</td>
                        <td>{% verbatim %} {{ respDeterministico['e_nq'] }} {% endverbatim %}</td>
                    </tr>
                    <tr>
                        <td>V(Nq)</td>
                        <td>{% verbatim %} {{ respDeterministico['v_nq'] }} {% endverbatim %}</td>
                    </tr>
                </table>
            </div>
            <!--Man positions: -100px - 347px - 235px - 170px - 105px - 40px -->
            <div class="queue-space">
                <img id="x1" src="https://i.pinimg.com/originals/1b/2d/dd/1b2dddd9a9d54ebc83c8e67392ba0743.png">
                <img id="x2" src="https://i.pinimg.com/originals/1b/2d/dd/1b2dddd9a9d54ebc83c8e67392ba0743.png">
                <img id="x3" src="https://i.pinimg.com/originals/1b/2d/dd/1b2dddd9a9d54ebc83c8e67392ba0743.png">
                <img id="x4" src="https://i.pinimg.com/originals/1b/2d/dd/1b2dddd9a9d54ebc83c8e67392ba0743.png">
                <img id="x5" src="https://i.pinimg.com/originals/1b/2d/dd/1b2dddd9a9d54ebc83c8e67392ba0743.png">
                <img id="x6" src="https://i.pinimg.com/originals/1b/2d/dd/1b2dddd9a9d54ebc83c8e67392ba0743.png">
            </div>
            <div class="servico"></div>
        </div>
    </body>
</html>