<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-cookies.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/controllers/simulador_controller.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>    </head>
    <title>SimuladorMM1</title>
    <body ng-controller="SimuladorController">
        <div class="topnav">
            <a class="active" href="main">Simulador de Filas M/M/1</a>
            <a href="animacao">Simulação em tempo discreto</a>
            <a href="transiente">Determinação da fase transiente</a>
        </div>
        <div class="before">
            <h3 style="padding-left:10px">Escolha as configurações para rodar a fila</h3>
            <div class="opcoes" style="height: 50px;padding-top: 8px;">
                <label for="taxa">Taxa de utilização:</label>
                <select id="taxa" ng-model="rho">
                    <option value=0.2>0.2</option>
                    <option value=0.4>0.4</option>
                    <option value=0.6>0.6</option>
                    <option value=0.8>0.8</option>
                    <option value=0.9>0.9</option>
                </select>
            </div>
            
            <div class="opcoes" style="height: 50px;padding-top: 8px;">
                <label for="disc">Disciplina:</label>
                <select id="disc" ng-model="disciplina">
                    <option value='FCFS'>FCFS</option>
                    <option value='LCFS'>LCFS</option>
                </select>
            </div>

            <div class="opcoes">
                <label for="kmin">Coletas por rodada:</label>
                <input id="kmin" type="number" ng-model="kmin" min="1" max="100000">
            </div>

            <div class="opcoes">
                <label for="rod">Número de rodadas:</label>
                <input id="rod" type="number" ng-model="rodadas" min="1" max="3200">
            </div>

            <div class="opcoes">
                <label for="seed">Mudar para seed esperta</label>
                <input type="checkbox" ng-model="seed_esperta">
            </div>
        </div>
        <h1><a href ng-disabled="simulando" ng-click="simular(rho, disciplina, kmin, rodadas, seed_esperta)" class="btn btn-lg btn btn_simular">Simular</a></h1>
        <h1 style="top:90px"><a href ng-disabled="simulando" ng-click="simularkmin(rho, disciplina, rodadas, seed_esperta)" class="btn btn-lg btn btn_simular">Teste Kmin</a></h1>
        <div class="after">
            <div ng-show="showLoader" class="loader"></div>
            <p ng-show="showLoader" class="rod">
                Rodada:
            </p>
            <p ng-show="showLoader" class="rod" style="margin-top: 155px;margin-left: -125px;">{% verbatim %} {{ rodada }} {% endverbatim %}</p>
            <p ng-show="!showLoader" class="time" style="margin-top: 130px;margin-left: -190px;position: absolute;">Tempo de processamento: </p>
            <p ng-show="!showLoader" class="time" style="margin-top: 155px;margin-left: -200px;position: absolute;">{% verbatim %} {{ tempo_process }} {% endverbatim %} minutos</p>
            <div ng-if="hasTableResults">
                <h2> Resultados:</h2>
                <h4>Pela distribuição t-Student</h4>
                <table id="e">
                    <thead>
                        <tr>
                            <th>Métrica</th>
                            <th>Valor Obtido</th>
                            <th>Lim Inf IC</th>
                            <th>Lim Sup IC</th>
                            <th>Precisão</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>E[W]</td>
                            <td class="mytooltip">
                                {% verbatim %} {{ results['e_w'] }} {% endverbatim %}
                                <span class="mytooltiptext">Valor analítico: {% verbatim %} {{ analiticos[disciplina]['EW'][rho] }} {% endverbatim %}</span>
                            </td>
                            <td>{% verbatim %} {{ results['ic_ew_low'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_ew_high'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_ew_pres']*100 }} {% endverbatim %} %</td>
                        </tr>
                        <tr>
                            <td>V(W)</td>
                            <td class="mytooltip">
                                {% verbatim %} {{ results['v_w'] }} {% endverbatim %}
                                <span class="mytooltiptext">Valor analítico: {% verbatim %} {{ analiticos[disciplina]['VW'][rho] }} {% endverbatim %}</span>
                            </td>
                            <td>{% verbatim %} {{ results['ic_vwt_low'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_vwt_high'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_vwt_pres']*100 }} {% endverbatim %} %</td>
                        </tr>
                        <tr>
                            <td>E[Nq]</td>
                            <td class="mytooltip">
                                {% verbatim %} {{ results['e_nq'] }} {% endverbatim %}
                                <span class="mytooltiptext">Valor analítico: {% verbatim %} {{ analiticos[disciplina]['ENq'][rho] }} {% endverbatim %}</span>
                            </td>
                            <td>{% verbatim %} {{ results['ic_enq_low'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_enq_high'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_enq_pres']*100 }} {% endverbatim %} %</td>
                        </tr>
                        <tr>
                            <td>V(Nq)</td>
                            <td class="mytooltip">
                                {% verbatim %} {{ results['v_nq'] }} {% endverbatim %}
                                <span class="mytooltiptext">Valor analítico: {% verbatim %} {{ analiticos[disciplina]['VNq'][rho] }} {% endverbatim %}</span>
                            </td>
                            <td>{% verbatim %} {{ results['ic_vnqt_low'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_vnqt_high'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_vnqt_pres']*100 }} {% endverbatim %} %</td>
                        </tr>
                    </tbody>
                </table>
                <h4> Pela distribuição Chi-Quadrado</h4>
                <table id="v">
                    <thead>
                        <tr>
                            <th>Métrica</th>
                            <th>Valor Obtido</th>
                            <th>Lim Inf IC</th>
                            <th>Lim Sup IC</th>
                            <th>Precisão</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>V(W)</td>
                            <td class="mytooltip">
                                {% verbatim %} {{ results['v_w'] }} {% endverbatim %}
                                <span class="mytooltiptext">Valor analítico: {% verbatim %} {{ analiticos[disciplina]['VW'][rho] }} {% endverbatim %}</span>
                            </td>
                            <td>{% verbatim %} {{ results['ic_vwchi_low'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_vwchi_high'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_vwchi_pres'] * 100 }} {% endverbatim %} %</td>
                        </tr>
                        <tr>
                            <td>V(Nq)</td>
                            <td class="mytooltip">
                                {% verbatim %} {{ results['v_nq'] }} {% endverbatim %}
                                <span class="mytooltiptext">Valor analítico: {% verbatim %} {{ analiticos[disciplina]['VNq'][rho] }} {% endverbatim %}</span>
                            </td>
                            <td>{% verbatim %} {{ results['ic_vnqchi_low'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_vnqchi_high'] }} {% endverbatim %}</td>
                            <td>{% verbatim %} {{ results['ic_vnqchi_pres']*100 }} {% endverbatim %} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="hasKResults">
                <h2> Resultados:</h2>
                <p>Kmins:</p>
                <p ng-repeat="k in results['kmins']">{% verbatim %} {{ k }} {% endverbatim %}</p>
        </div>
        <div class="row" style="float: left;" >
            <div id="ic_ew" style="float: left;"></div>
            <div id="ic_vw" style="float: left; position: relative;"></div>
        </div>
        <div class="row" style="float: left;">
            <div id="ic_enq" style="float: left; position: relative;"></div>
            <div id="ic_vnq" style="float: left;"></div>
        </div>
        <div id="graph_results" style="float: left;">
        </div>
    </body>
</html>

