<!DOCTYPE html>
<html ng-app='app'>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="/static/js/app.js"></script>
</head>
<title>SimuladorMM1</title>
<body ng-controller="SimuladorController">
<h1>Simulador: </h1><br>
<h2>Digite a utilização da fila:</h2>
<input type="text" ng-model="rho"></input>
<h3>{% verbatim %} {{rho}} {% endverbatim %}</h3>
<h1><a href="{% url 'simulator:simular' %}" class="btn btn-primary btn-lg btn btn-success">Simular</a></h1>
</body>

</html>