<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-cookies.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/controllers/simulador_controller.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>    </head>
    <title>SimuladorMM1</title>
    <body ng-controller="SimuladorController">
        <div class="topnav">
            <a class="active" href="/">Simulador de Filas M/M/1</a>
            <a href="kmin">Teste Kmin</a>
            <a href="animacao">Simulação em tempo discreto</a>
            <a href="transiente">Determinação da fase transiente</a>
        </div>
        <div class="before">
            <div class="opcoes">
                <label for="taxa">Taxa de utilização:</label>
                <select id="taxa" ng-model="rho">
                    <option value=0.2>0.2</option>
                    <option value=0.4>0.4</option>
                    <option value=0.6>0.6</option>
                    <option value=0.8>0.8</option>
                    <option value=0.9>0.9</option>
                </select>
            </div>
            <div class="opcoes">
                <label for="disc">Disciplina:</label>
                <select id="disc" ng-model="disciplina">
                    <option value='FCFS'>FCFS</option>
                    <option value='LCFS'>LCFS</option>
                </select>
            </div>

            <div class="opcoes" style="padding: 25px;">
                <label for="seed">Mudar para seed esperta</label>
                <input type="checkbox" ng-model="seed_esperta">
            </div>

            <div>
                <h1 ng-show="showLoader">Aguarde 60 segundos</h1>
            </div>
        </div>
        <h1 style="position:relative; margin-top: 5%;"><a href class="btn btn-lg btn btn_transiente" ng-click="simular_toplot(rho, disciplina, kmin, rodadas, seed_esperta)"> Roda </a></h1>
        <div ng-show="showLoader" class="loader" style="margin-left: 700px;"></div>
        <div ng-show="chartReady" id="graph">
            <div class="row">
                <div class="col-sm-6">
                <div id="chartEW"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                <div id="chartVW"></div>
                </div>
            </div>
            <div class="row" style="margin-left:1%">                
                <div class="col-sm-6">
                    <div id="chartENq"></div>
                </div>   
            </div>
            <div class="row">             
                <div class="col-sm-6">
                    <div id="chartVNq"></div>
                </div>
            </div>
        </div>
    </body>
</html>