.loader {
  border: 16px solid #f2f2f2; /* Light grey */
  border-top: 16px solid darkcyan; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: -170px;
  margin-top: 100px;
  position: absolute;
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: navy;
  overflow: hidden;
  padding-left: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkcyan;
  color: white;
}

.btn_simular{
  background-color: darkcyan;
  color: white;
  border-radius: 15px;
}

select, input{
  color: black;
  border-radius: 3px;
}

.opcoes{
  background-color: navy;
  width: 70%;
  height: 70px;
  text-align: center;
  display: list-item;
  font-size: larger;
  color: white;
  margin: 10px;
  border-radius: 4px;
}

.opcoes::marker{
  display: none;
}

.before{
  width: 35%;
  display: inline;
  float: left;
}

.after{
  padding-top: 45px;
  width: 40%;
  display: inline;
  float: left;
  padding-left: 115px;
}

h1{
  top: 350px;
  left: 370px;
  position: absolute;
}

h2{
  position: absolute;
  right: 700px;
}

table{
  position: absolute;
}

#e{
  position: relative;
}

#v{
  position: relative;
}

td, th{
  border: 1px black solid;
  padding: 3px
}

#chartEW, #chartVW, #chartENq, #chartVNq{
  display: inline-block;
  width: 800px;
}

#chartEW{
  margin-left: -100px;
}

#chartVW, #chartENq, #chartVNq{
  margin-left: 335px;
}

.butons{
  width: 20%;
  padding-left: 70px;
}

#graph{
  margin-top: -190px;
}

.rod{
  margin-left: -135px;
  margin-top: 135px;
  position: absolute;
}